<html lang="en" id='page'>
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="710615308491-m9b5ijdlck0groun5s870iqkk82pf7mr.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  
  </head>
  <body>
  
    {{>navbar}}
        
        <form action='/profile-page' method="POST">
        <div class="form-group"> 
        User: 
            <label><input type="radio" name="user" value="doctor" required>doctor</label>
            <label><input type="radio" name="user" value="client">client</label> 
        <br>             
            <input type="submit" value="Submit" onclick="displayRadioValue()">
        </div>
        </form>       
        <br>        
        <div id="result"></div>
        <br>
        
     
    

    <script>
        var profile,usertype;

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }

      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);

      }

      function displayRadioValue()
            { 
                var ele = document.getElementsByName('user'); 
                
                for(i = 0; i < ele.length; i++)
                { 
                    if(ele[i].checked) 
                    {
                        usertype=ele[i].value;
                        console.log(usertype);
                        document.getElementById("result").innerHTML
                            = "You are logged in as "+ele[i].value+" using "+profile.getEmail();
                        
                        //requesting server for entry page

                        //fetch('/entry/'+profile.getEmail())
                        //.then(
                        //    response=> console.log(response)                        
                        //);
                    }
                }
            }
    </script>
  </body>
</html>