{{!-- 710615308491-ab6edtf9mj5cqsjcum2qemd7dgqs5sbv.apps.googleusercontent.com --}}
<html>

    <head>
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="710615308491-ab6edtf9mj5cqsjcum2qemd7dgqs5sbv.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="font-size:20px;">
                <ul class="nav navbar-nav">
                    <p style="font-size:20px; font-style:italic;" class="navbar-text"><b>CareFirst</b> - From virtual smiles to healthy hearts ;) </p> 
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item" id='signin-tab'>
                        <div class="g-signin2" data-onsuccess="onSignIn"></div>
                    </li>
                    <li class="nav-item" id='signout-tab'>
                        <a class="nav-link" href="/" onclick="signOut();">Sign out</a> 
                    </li>                    
                </ul>
        </nav>
        
    </body>

    <script>

            var profile;

            function onSignIn(googleUser) {
            // Useful data for your client-side scripts:
            profile = googleUser.getBasicProfile();
            //console.log("ID: " + profile.getId()); // Don't send this directly to your server!
           // console.log('Full Name: ' + profile.getName());
           // console.log('Given Name: ' + profile.getGivenName());
           // console.log('Family Name: ' + profile.getFamilyName());
           // console.log("Image URL: " + profile.getImageUrl());
           // console.log("Email: " + profile.getEmail());

            // The ID token you need to pass to your backend:
            var id_token = googleUser.getAuthResponse().id_token;
            console.log("ID Token: " + id_token);

            const signin=document.getElementById('signin-tab');
            const signout=document.getElementById('signout-tab');
            signin.style.display="none";
            signout.style.display="block";
        }

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
            const signin=document.getElementById('signin-tab');
            const signout=document.getElementById('signout-tab');
            signin.style.display="block";
            signout.style.display="none";
        }

    </script>

</html>